.btn {
    font-family: arial,sans-serif;
    text-align: center;
    line-height: 34px;
}

.btn-td-wrapper {
    cursor: pointer;
    font-family: arial,sans-serif;
    text-align: center;
    line-height: 34px;
    margin: 4px;
    box-sizing: border-box;
    position: relative;
    border-radius: 4px;
}

.btn-number {
    background: #f1f3f4;
    color: #202124;
    border: 1px solid #f1f3f4;
    border-radius: 4px;
    font-size: 14px;
}

.btn-number:focus:hover {
    background: #f1f3f4;
}

.btn-number:active {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: #70757a;
}

.btn-pad {
    background: #dadce0;
    color: #202124;
    border: 1px solid #dadce0;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-sign {
    font-size: 14px;
}

.btn-clear {
    font-size: 13px;
}

.btn-equal {
    background: #4285f4;
    color: #fff;
    border: 1px solid #4285f4;
    border-radius: 4px;
    font-weight: bold;
}

.btn-equal:focus:hover {
    background: #4285f4;
}

.btn-equal:active {
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 45%), 0 3px 6px 2px rgb(66 133 244 / 30%);
    border-color: #1a0dab;
}

.btn-operator {
    font-size: 18px;
}

.btn-operator:focus:hover {
    background: #dadce0;
}

.btn-operator:active {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: #70757a;
}